<nav>
  <ul>
    <li class="logo">
      <img src="assets/logo.svg" alt="logo" height="75" width="75">
    </li>
    <li>
      <a class="nav-content" routerLink="schools">
        <img class="ico" src="assets/school.svg" alt="school" height="40" width="70">
        <span class="nav-item">Školy</span>
      </a>
    </li>
    <li>
      <a class="nav-content" routerLink="juridical-persons">
        <img class="ico" src="assets/gavel.svg" alt="school" height="40" width="70">
        <span class="nav-item">Právnické osoby</span>
      </a>
    </li>
    <li>
      <a class="nav-content" routerLink="physical-persons">
        <img class="ico" src="assets/person.svg" alt="school" height="40" width="70">
        <span class="nav-item">Fyzické osoby</span>
      </a>
    </li>
    <li>
      <a class="nav-content" href="#">
        <img class="ico" src="assets/medal.svg" alt="school" height="40" width="70">
        <span class="nav-item">Čestní členové</span>
      </a>
    </li>
  </ul>
</nav>
