:host {
  .checkbox-container {
    cursor: pointer;
    height: 32px;
    width: 32px;
    display: flex;
    align-items: center;
  }

  .checkbox-label {
    user-select: none;
  }

  input {
    accent-color: var(--checkbox-color);
    cursor: pointer;
  }

  .primary {
    --checkbox-color: var(--color-primary);
  }
  .secondary {
    --checkbox-color: var(--color-secondary);
  }
  .success {
    --checkbox-color: var(--color-success);
  }
  .danger {
    --checkbox-color: var(--color-danger);
  }
}
