:host {
  table {
    width: 100%;
  }

  table, td, th {
    border: 1px solid var(--color-grey);
    border-collapse: collapse;
  }

  td {
    padding: var(--padding-base-half) var(--padding-base);
    text-align: center;
  }

  th {
    padding: var(--padding-base-half) var(--padding-base);
    background-color: var(--color-grey-light);
  }

  .emptyBackground {
    width: 100%;
    height: 50vh;
  }
}
