<div class="table-container" *ngIf="!(isLoading$ | async)">
  <mmz-heading>Členové Cechu topenářů a instalatérů České republiky, z.s. Rok {{ currentYear }}</mmz-heading>
  <table>
    <tr>
      <th>Registrační číslo</th>
      <th>IČO</th>
      <th>Název školy, ředitel školy, telefon</th>
      <th>Adresa</th>
      <th>Kraj</th>
      <th>Email</th>
      <th>Aktivní</th>
      <th>Uhrazeno</th>
      <th><mmz-button color="transparent" size="large" icon="plus" [routerLink]="['/school-form']"></mmz-button></th>
    </tr>
    <tr class="table-row" *ngFor="let data of data; index as i">
      <td>{{data.registration_number}}</td>
      <td>{{data.ico}}</td>
      <td>{{data.name}} <br> {{data.principal}} <br> {{data.phone}}</td>
      <td>{{data.street}}, {{data.post_code}}<br>{{data.city}} {{data.zip_code}}</td>
      <td>{{data.province}}</td>
      <td>{{data.email}}</td>
      <td>
        <span class="inline-flex">
          <mmz-checkbox
            color="success"
            size="medium"
            (change)="updateSchool(data.id!, data)"
            [(ngModel)]="data.active"
          >
          </mmz-checkbox>
        </span>
      </td>
      <td>{{data.payed ? 'Ano' : 'Ne'}}</td>
      <td>
        <span class="flex-row gap-base-half justify-center">
          <mmz-button size="small" [routerLink]="['/school-form', data.id]">Editovat</mmz-button>
          <mmz-button color="danger" (click)="deleteSchool(data.id!)">Smazat</mmz-button>
        </span>
      </td>
    </tr>
  </table>
  <img *ngIf="data.length == 0" [src]="'assets/EmptyStateWText.svg'" class="emptyBackground" alt="empty">
</div>
<mmz-loading-spinner *ngIf="isLoading$ | async"></mmz-loading-spinner>
