<div>
  <mmz-heading>Členové Cechu topenářů a instalatérů České republiky, z.s. Rok {{ currentYear }}</mmz-heading>
  <table>
    <tr>
      <th>Registrační číslo</th>
      <th>Název školy, ředitel školy, telefon</th>
      <th>Adresa</th>
      <th>Kraj</th>
      <th>Email</th>
      <th>Aktivní</th>
      <th>Uhrazeno</th>
      <th></th>
    </tr>
    <tr class="table-row" *ngFor="let data of data; index as i">
      <td>{{data.registration_number}}</td>
      <td>{{data.name}} <br> {{data.principal}} <br> {{data.phone}}</td>
      <td>{{data.address}}</td>
      <td>{{data.province}}</td>
      <td>{{data.email}}</td>
      <td><mmz-checkbox color="success" [checked]="data.active" size="medium" [disabled]="false"></mmz-checkbox></td>
      <td>{{data.payed ? 'Ano' : 'Ne'}}</td>
      <td>
        <span class="flex-row gap-base-half justify-center">
          <mmz-button size="small" [routerLink]="['/edit', data.registration_number]">Editovat</mmz-button>
          <mmz-button color="danger">Smazat</mmz-button>
        </span>
      </td>
    </tr>
  </table>
</div>
