:host {
  display: inline-flex;
  .button-wrapper {
    display: inline-flex;
  }

  button {
    cursor: pointer;
    border: 0;
    box-shadow: 0 0 var(--box-shadow-base) var(--color-black-light);
    padding: var(--padding-base-half) var(--padding-base);
    border-radius: 3px;

    background-color: var(--button-color);
    color: var(--button-text-color);

    &:active {
      transition-duration: var(--transition-duration-base);
      box-shadow: 0 0 var(--box-shadow-base-active) var(--color-black-light);
    }
  }
  .primary {
    --button-color: var(--color-primary);
    --button-text-color: var(--color-white);
    &:hover {
      --button-color: var(--color-primary-hover);
    }
  }

  .secondary {
    --button-color: var(--color-secondary);
    --button-text-color: var(--color-white);
    &:hover {
      --button-color: var(--color-secondary-hover);
    }
  }

  .danger {
    --button-color: var(--color-danger);
    --button-text-color: var(--color-white);
    &:hover {
      --button-color: var(--color-danger-hover);
    }
  }

  .success {
    --button-color: var(--color-success);
    --button-text-color: var(--color-white);
    &:hover {
      --button-color: var(--color-success-hover);
    }
  }

  .transparent {
    --button-color: var(--color-grey);
    --button-text-color: transparent;
    &:hover {
      --button-color: var(--color-grey-light);
    }
  }

  .ico-button {
    transition-duration: 500ms;
    padding: 2px;
    img {
      height: 100%;
      width: 100%;
      //filter: invert(94%) sepia(6%) saturate(23%) hue-rotate(342deg) brightness(106%) contrast(101%);
    }
  }
}
