:root {
  --padding-base: 16px;
  --padding-base-half: 8px;
  --padding-base-quarter: 4px;

  --gap-base: 16px;
  --gap-base-half: 8px;
  --gap-base-quarter: 4px;

  --button-font-size-small: 12px;
  --button-font-size-medium: 21px;
  --button-font-size-large: 30px;

  --checkbox-size-small: 12px;
  --checkbox-size-medium: 21px;
  --checkbox-size-large: 30px;

  --border-radius-base: 3px;

  --box-shadow-base: 1px;
  --box-shadow-base-active: 4px;

  --transition-duration-base: 400ms;

  --color-primary: rgb(41, 96, 152);
  --color-primary-hover: rgb(41, 105, 171);
  --color-primary-light: rgb(50, 115, 246);
  --color-secondary: rgb(110, 117, 124);
  --color-secondary-hover: rgb(122, 127, 133);
  --color-success: rgb(52, 173, 49);
  --color-success-hover: rgb(52, 183, 68);
  --color-danger: rgb(198, 56, 52);
  --color-danger-hover: rgb(206, 68, 74);

  --color-white: rgb(255, 255, 255);
  --color-white-dark: rgb(239, 239, 239);
  --color-black: rgb(0, 0, 0);
  --color-black-light: rgb(37, 37, 37);
  --color-grey: rgb(147, 147, 147);
  --color-grey-light: rgb(201, 201, 201);
}
